<div class="ml-3 mt-2 col col-4 mx-auto">
<h3><%= @user.first_name %>'s profile</h3>
<p><%= link_to "Edit account information", edit_user_registration_path, class: "btn btn-sm btn-info mb-0" %> <%= link_to "Edit personal information", edit_user_path, class: "btn btn-sm btn-info mb-0" %></p>

<ul class="list-group list-group-flush mb-3">
  <li class="list-group-item"><strong>First Name:</strong> <%= @user.first_name %></li>
  <li class="list-group-item"><strong>Last Name:</strong> <%= @user.last_name %></li>
  <li class="list-group-item"><strong>Description:</strong> <%= @user.description %></li>
  <li class="list-group-item"><strong>Email:</strong> <%= @user.email %></li>
</ul>
	
<% events = Event.where(admin_id: @user.id) %>
<% events.each do |event|%>

<div class="container mb-3 text-center">
	<!-- Example row of columns -->
	<div class="row">
		<div class="col">
			<h3><%= event.title %></h3>
			<p><%= event.description %></p>
			<p><%= link_to "View details", event_path(event), class: "btn btn-secondary", role: "button" %></p>
		</div>
	</div>
</div>
<% end %>
</div>