<h3>Profile</h3>
<%= link_to "Edit account information", edit_user_registration_path %>
<%= link_to "Edit personal information", edit_user_path %>

<ul class="list-group list-group-flush mb-3">
  <li class="list-group-item">First Name: <%= @user.first_name %></li>
  <li class="list-group-item">Last Name: <%= @user.last_name %></li>
  <li class="list-group-item">Description: <%= @user.description %></li>
  <li class="list-group-item">Email: <%= @user.email %></li>
</ul>

<% events = Event.where(admin_id: @user.id) %>
<% events.each do |event|%>

<div class="container mb-3 text-center">
	<!-- Example row of columns -->
	<div class="row">
		<div class="col">
			<h3><%= event.title %></h3>
			<p><%= event.description %></p>
			<p><%= link_to "View details", event_path(event), class: "btn btn-secondary", role: "button" %></p>
		</div>
	</div>
</div>
<% end %>